/*
    Created on : 29 mai 2015, 23:11:20
    Author     : Fabien.Sanchez
*/

.news {
    width: 960px;
    border-radius: 10px;
    background-color: #BBB;
    padding: 1em;
}

.news .new p{
    white-space: nowrap;
    font-size: 15px;
    line-height: 15px;
    height: 15px;
    overflow: hidden;
    hyphens: auto;
    text-overflow:ellipsis;
    padding: 1em;
    border-bottom: 1px solid #CCC;
}

.news a {
    text-decoration: inherit;
    color: inherit;
    background: inherit;
}

.news a:hover{
    text-shadow: 0 0 4px #fff
}